In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('multipleChoiceResponses.csv')

In [35]:
df1 = df[["Q1","Q1_OTHER_TEXT","Q2","Q3","Q4","Q5","Q6","Q6_OTHER_TEXT","Q7","Q7_OTHER_TEXT","Q8","Q9",
"Q10","Q11_Part_1","Q11_Part_2",
"Q11_Part_3","Q11_Part_4","Q11_Part_5","Q11_Part_6","Q11_Part_7"
          ,'Q23','Q24','Q25','Q26',]]
df1.columns = ['Sex','Other Sex','Age','Country','Highest Education', 'Undergrad Major','Job','Other Job','Industry','Other Industry','Years of Experience','Salary',
               'Company Use ML','Analyze Data for Product Decisions','Machine Learning Services',
               'Data Infrastructure','ML for New Areas','ML Research','Not Important for Work','Other Task at Work',
              '% Spent Coding','How Long Coding','How Long Using ML','Are you a data scientist']
df1[0:2]

,Sex,Other Sex,Age,Country,Highest Education,Undergrad Major,Job,Other Job,Industry,Other Industry,...,Machine Learning Services,Data Infrastructure,ML for New Areas,ML Research,Not Important for Work,Other Task at Work,% Spent Coding,How Long Coding,How Long Using ML,Are you a data scientist
0,What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe...,What is your age (# years)?,In which country do you currently reside?,What is the highest level of formal education ...,Which best describes your undergraduate major?...,Select the title most similar to your current ...,Select the title most similar to your current ...,In what industry is your current employer/cont...,In what industry is your current employer/cont...,...,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...,Approximately what percent of your time at wor...,How long have you been writing code to analyze...,For how many years have you used machine learn...,Do you consider yourself to be a data scientist?
1,Female,-1,45-49,United States of America,Doctoral degree,Other,Consultant,-1,Other,0,...,Build and/or run a machine learning service th...,Build and/or run the data infrastructure that ...,NaN,Do research that advances the state of the art...,NaN,NaN,0% of my time,I have never written code but I want to learn,I have never studied machine learning but plan...,Maybe

In [38]:
#mask = (df1['Other Sex'] > -1)
#df1[mask]

TypeError: '>' not supported between instances of 'str' and 'int'